{%extends 'base.html'%}
{%load static%}
{%block content%}
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Checkout</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="#">Home</a></li>
                    <li class="active">Checkout</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<form method="post" action="{%url 'checkout'%}">
    {% csrf_token %}
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-7">
                    <!-- Billing Details -->
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Billing address</h3>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="billing_first_name" id="billing_first_name"
                                   placeholder="First Name">
                            <span>{{form.billing_first_name.errors}}</span>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="billing_last_name" id="billing_last_name"
                                   placeholder="Last Name">
                            <span>{{form.billing_last_name.errors}}</span>
                        </div>
                        <div class="form-group">
                            <input class="input" type="email" name="billing_email" id="billing_email"
                                   placeholder="Email">
                            <span>{{form.billing_email.errors}}</span>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="billing_address" id="billing_address"
                                   placeholder="Address">
                            <span>{{form.billing_address.errors}}</span>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="billing_city" id="billing_city" placeholder="City">
                            <span>{{form.billing_city.errors}}</span>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="billing_country" id="billing_country"
                                   placeholder="Country">
                            <span>{{form.billing_country.errors}}</span>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="billing_zip_code" id="billing_zip_code"
                                   placeholder="ZIP Code">
                            <span>{{form.billing_zip_code.errors}}</span>
                        </div>
                        <div class="form-group">
                            <input class="input" type="tel" name="billing_tel" id="billing_tel" placeholder="Telephone">
                            <span>{{form.billing_tel.errors}}</span>
                        </div>


                    </div>
                    <!-- /Billing Details -->

                    <!-- Shiping Details -->
                    <div class="shiping-details">
                        <div class="section-title">
                            <h3 class="title">Shiping address</h3>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="ship-address">
                            <label for="ship-address">
                                <span></span>
                                Ship to a diffrent address?
                            </label>
                            <div class="caption">
                                <div class="form-group">
                                    <input class="input" type="text" name="shipping_first_name" id="shipping_first_name"
                                           placeholder="First Name">
                                    <span>{{form.shipping_first_name.errors}}</span>
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="shipping_last_name" id="shipping_last_name"
                                           placeholder="Last Name">
                                    <span>{{form.shipping_last_name.errors}}</span>
                                </div>
                                <div class="form-group">
                                    <input class="input" type="email" name="shipping_email" id="shipping_email"
                                           placeholder="Email">
                                    <span>{{form.shipping_email.errors}}</span>
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="shipping_address" id="shipping_address"
                                           placeholder="Address">
                                    <span>{{form.shipping_address.errors}}</span>
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="shipping_city" id="shipping_city"
                                           placeholder="City">
                                    <span>{{form.shipping_city.errors}}</span>
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="shipping_country" id="shipping_country"
                                           placeholder="Country">
                                    <span>{{form.shipping_country.errors}}</span>
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="shipping_zip_code" id="shipping_zip_code"
                                           placeholder="ZIP Code">
                                    <span>{{form.shipping_zip_code.errors}}</span>
                                </div>
                                <div class="form-group">
                                    <input class="input" type="tel" name="shipping_tel" id="shipping_tel"
                                           placeholder="Telephone">
                                    <span>{{form.shipping_tel.errors}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Shiping Details -->

                    <!-- Order notes -->

                    <div class="order-notes">
                        <textarea class="input" placeholder="Order Notes" id="order_notes"></textarea>
                    </div>
                    <!-- /Order notes -->
                </div>


                <!-- Order Details -->
                <div class="col-md-5 order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Your Order</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>PRODUCT</strong></div>
                            <div><strong>TOTAL</strong></div>
                        </div>
                        {% for cart_item in cart_items %}
                        <div class="order-products">
                            <div class="order-col">
                        <label>

                          <input type="checkbox" name="selected_items" class="item-checkbox" data-cartitemid="{{ cart_item.id }}" data-quantity="{{ cart_item.quantity }}" data-price="{{ cart_item.product.price }}" value="{{ cart_item.id }}">
                            {{ cart_item.quantity }} x {{ cart_item.product.name }}
                        </label>
                   <div class="order-col">
                        <span class="item-total">${{ item_totals.forloop.counter0|floatformat:2 }}</span>

                        </div>
                            </div>

                        {%endfor%}
                        <div class="order-col">
                            <div>Shiping</div>
                            <div><strong>FREE</strong></div>
                        </div>
                        <div class="order-col">
                            <div><strong>TOTAL</strong></div>
                            <div><strong class="order-total">$0.00</strong></div>
                        </div>
                    </div>

                    <div class="payment-method">
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-1">
                            <label for="payment-1">
                                <span></span>
                                Direct Bank Transfer
                            </label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-2">
                            <label for="payment-2">
                                <span></span>
                                Cheque Payment
                            </label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-3">
                            <label for="payment-3">
                                <span></span>
                                Paypal System
                            </label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="input-checkbox">
                        <input type="checkbox" id="terms">
                        <label for="terms">
                            <span></span>
                            I've read and accept the <a href="#">terms & conditions</a>
                        </label>
                    </div>
                    <button type="submit" class="primary-btn order-submit">Place order</button>
                </div>
                <!-- /Order Details -->

            </div>
            <!-- /row -->

        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
</form>


{%endblock%}